extends layout

block additionalCSS
	link(rel='stylesheet', href='/static/css/blog.css')

block scripts
	script(type='text/javascript', src='/static/lib/jquery.scrollTo-1.4.3.1-min.js')
	script(type='text/javascript', src='/static/js/blog.min.js')

mixin blogPost(post)
	.blog-post
		h3= post.title
		span.date(title=utcDate(post.date)) Posted #{friendlyDate(post.date)} by #{post.author}
		span!= markdown(post.content)
		//if post.screenshots != null
		//	for image in post.screenshots
		//		img(src=getS3Url(image.s3Name))

block content
	h2 Blog
	- var compState = competition.getState()
	if session.user == null
		p Please 
			a(href='/login?return=' + returnURL) login
			|  to view and edit your blog.
	else if compState.seq >= competitionStates.Development.seq
		if competitionEntry == null || !competitionEntry.isEligible
			p You did not join and fulfill all the requirements for SantaHack #{year}. Better luck next year!
		else
			if compState.seq <= competitionStates.DevelopmentIntermission.seq
				.well
					h3(style='margin-top: 0') New Post
					div
						form.form-horizontal(method='POST', enctype='multipart/form-data', style='margin: 0')
							.control-group
								label.control-label(for='postTitle') Title
								.controls
									input#postTitle.input-block-level(name='postTitle', type='text', placeholder='Post Title')
							//.control-group
							//	label#screenshotsLabel.control-label Screenshot
							//	#screenshots.controls
							//		input(name='screenshot[]', type='file')
							.control-group
								label.control-label(for='blogPost') Post
								.controls
									textarea#blogPost.input-block-level(name='blogPost', rows='10', placeholder='Blog Post')
							.control-group(style='margin-bottom: 0')
								.controls
									button#postButton.btn.btn-primary(type='submit', data-posting-text='Posting...', autocomplete='off') Post
									span.help-inline(style='margin-left: 2.5em')
										a(href='http://five.squarespace.com/display/ShowHelp?section=Markdown') Markdown
										|  is accepted for formatting in posts
			
			#blog
				for post in blogPosts
					mixin blogPost(post)
			if pageCount > 1
				.pagination
					ul
						- for(var page = 0; page < pageCount; page++)
							li: a(href=genLink("/blog?page=#{page}"), data-page=page)= page + 1
	else
		p Development for SantaHack #{year} is not currently in progress yet.
