extends layout

block additionalCSS
	link(rel='stylesheet', href='/static/lib/lightbox/css/lightbox.css', media='screen')
	link(rel='stylesheet', href='/static/css/blog.css')

block scripts
	script(type='text/javascript', src='/static/lib/jquery.scrollTo-1.4.3.1-min.js')
	script(type='text/javascript', src='/static/lib/lightbox/jquery.lightbox.js')
	script(type='text/javascript', src='/static/js/blog.min.js')

mixin blogPost(post)
	.blog-post
		h3= post.title
		span.date(title=utcDate(post.date)) Posted #{friendlyDate(post.date)} by #{post.author}
		if post.screenshots != null
			ul.thumbnails
				for image in post.screenshots
					li.span3: a.lightbox(href=getS3Url(image.fullsize), title=image.name, rel="lightbox[#{post.author} #{post.title} #{post.date}]"): img(src=getS3Url(image.thumbnail))
		span!= markdown(post.content)

block content
	h2 Blog
	- var compState = competition.getState()
	- var formData = (typeof formData !== 'undefined' && formData != null) ? formData : {}
	- var errors = (typeof errors !== 'undefined' && errors != null) ? errors : {}
	- var validationFailed = Object.keys(errors).length > 0
	if session.user == null
		p Please 
			a(href='/login?return=' + returnURL) login
			|  to view and edit your blog.
	else if compState.seq >= competitionStates.Development.seq
		if competitionEntry == null || !competitionEntry.isEligible
			p You did not join and fulfill all the requirements for SantaHack #{year}. Better luck next year!
		else
			if compState.seq <= competitionStates.DevelopmentIntermission.seq
				.well
					h3(style='margin-top: 0') New Post
					div
						form.form-horizontal(method='POST', enctype='multipart/form-data', style='margin: 0')
							.control-group(class=errors.postTitle != null ? 'error' : '', title=errors.postTitle)
								label.control-label(for='postTitle') Title
								.controls
									input#postTitle.input-block-level(name='postTitle', type='text', placeholder='Post Title', value=formData.postTitle, autocomplete='off')
							.control-group(class=errors.screenshot != null ? 'error' : validationFailed ? 'warning' : '', title=errors.screenshot != null ? errors.screenshot : validationFailed ? 'Be sure to re-select any screenshots you had selected after fixing the errors.' : '')
								label#screenshotsLabel.control-label Screenshot
								#screenshots.controls
									input(name='screenshot[]', type='file')
							.control-group(class=errors.blogPost != null ? 'error' : '', title=errors.blogPost)
								label.control-label(for='blogPost') Post
								.controls
									textarea#blogPost.input-block-level(name='blogPost', rows='10', placeholder='Blog Post')= formData.blogPost
							.control-group(style='margin-bottom: 0')
								.controls
									button#postButton.btn.btn-primary(type='submit', data-posting-text='Posting...', autocomplete='off') Post
									span.help-inline(style='margin-left: 2.5em')
										a(href='http://five.squarespace.com/display/ShowHelp?section=Markdown') Markdown
										|  is accepted for formatting in posts
			
			#blog
				for post in blogPosts
					mixin blogPost(post)
			if pageCount > 1
				.pagination
					ul
						- for(var page = 0; page < pageCount; page++)
							li: a(href=genLink("/blog?page=#{page}"), data-page=page)= page + 1
	else
		p Development for SantaHack #{year} is not currently in progress yet.
