extends layout

block additionalCSS
	link(rel='stylesheet', href='/static/lib/lightbox/css/lightbox.css', media='screen')
	link(rel='stylesheet', href='/static/css/blog.css')

block scripts
	script(type='text/javascript', src='/static/lib/jquery.scrollTo-1.4.3.1-min.js')
	script(type='text/javascript', src='/static/lib/lightbox/jquery.lightbox.js')
	script(type='text/javascript', src='/static/js/blog.min.js')

mixin blogPost(post)
	- var compState = competition.getState()
	.blog-post
		h3= post.title
		span.date(title=utcDate(post.date)) Posted #{friendlyDate(post.date)} by #{post.author}
			if typeof post.id !== 'undefined' && compState.seq <= competitionStates.DevelopmentIntermission.seq
				.btn-group
					a.btn.btn-small(href=genLink("/blog/edit/#{post.id}")) Edit
					a.btn.btn-small.btn-danger(href=genLink("/blog/delete/#{post.id}")) Delete
		if post.screenshots != null
			ul.thumbnails
				for image in post.screenshots
					li.span3: a.lightbox(href=getS3Url(image.fullsize), title=image.name, rel="lightbox[#{post.author} #{post.title} #{post.date}]"): img(src=getS3Url(image.thumbnail))
		span!= markdown(post.content)

block content
	h2 Blog
	- var compState = competition.getState()
	- var editing = typeof editPost !== 'undefined' && editPost != null
	- var data = editing ? editPost : {}
	- var errors = (typeof errors !== 'undefined' && errors != null) ? errors : {}
	if session.user == null
		p Please 
			a(href='/login?return=' + returnURL) login
			|  to view and edit your blog.
	else if compState.seq >= competitionStates.Development.seq
		if typeof competitionEntry === 'undefined' || competitionEntry == null || !competitionEntry.isEligible
			p You did not join and fulfill all the requirements for SantaHack #{year}. Better luck next year!
		else
			if compState.seq <= competitionStates.DevelopmentIntermission.seq
				.well
					h3(style='margin-top: 0') New Post
					div
						if typeof errorText !== 'undefined' && errorText != null && errorText.length > 0
							.alert
								ul
									for error in errorText
										li= error
						form.form-horizontal(method='POST', enctype='multipart/form-data', style='margin: 0', action=genLink('/blog'))
							if data.id != null
								input(name='id', type='hidden', value=data.id)
							if data.date != null
								input(name='date', type='hidden', value=JSON.stringify(data.date))
							if typeof lastScreenshots !== 'undefined' && lastScreenshots != null
								input(name='lastScreenshots', type='hidden', value=lastScreenshots)
							.control-group(class=errors.title ? 'error' : '')
								label.control-label(for='title') Title
								.controls
									input#title.input-block-level(name='title', type='text', placeholder='Post Title', value=data.title, autocomplete='off')
							.control-group(class=errors.screenshot ? 'error' : '')
								label#screenshotsLabel.control-label Screenshot
								#screenshots.controls
									if data.screenshots != null
										for screenshot in data.screenshots
											.existing-file
												img.pull-left(src=getS3Url(screenshot.thumbnail))
												|  #{screenshot.name}
												label.checkbox.pull-right
													| delete
													input(name="deleteScreenshot[#{screenshot.id}]", type='checkbox')
									input(name='screenshot[]', type='file')
							.control-group(class=errors.content != null ? 'error' : '')
								label.control-label(for='content') Post
									br
									| [
									a(href='http://five.squarespace.com/display/ShowHelp?section=Markdown') Markdown
									|  accepted]
								.controls
									textarea#content.input-block-level(name='content', rows='10', placeholder='Blog Post')= data.content
							.control-group(style='margin-bottom: 0')
								.controls.btn-group
									button#postButton.btn.btn-primary(type='submit', data-posting-text='Posting...', autocomplete='off') Post
									button#previewButton.btn.btn(name='preview', type='submit', data-previewing-text='Previewing', autocomplete='off') Preview
			if !editing
				#blog
					for post in blogPosts
						mixin blogPost(post)
				if pageCount > 1
					.pagination
						ul
							- for(var page = 0; page < pageCount; page++)
								li: a(href=genLink("/blog/#{page}"), data-page=page)= page + 1
			
			if typeof previewPost !== 'undefined' && previewPost != null
				h2 Preview
				mixin blogPost(previewPost)
	else
		p Development for SantaHack #{year} is not in progress yet.
