extends layout

block additionalCSS
	link(rel='stylesheet', href='/static/css/news.css')

mixin newsPost(post)
	.news-item
		h3= post.title
		span.date(title=utcDate(post.date)) Posted #{friendlyDate(post.date)}
		span!= markdown(post.content)

block content
	h2 News #{year}
	#news
		- each post in posts
			mixin newsPost(post)