!!!
html
	head
		title= title
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='stylesheet', href='/static/lib/bootstrap_sh/css/bootstrap.min.css', media='screen')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		
		block additionalCSS
		
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(type='text/javascript', src='/static/lib/jquery.textchange.min.js')
		script(type='text/javascript', src='/static/lib/bootstrap_sh/js/bootstrap.min.js')
		
		block scripts
	body
		#container
			#header
				h1 SantaHack
			#navigation
				ul
					- var compSeq = competition.getState().seq
					li: a(href=genLink('/home')) Home
					li: a(href=genLink('/rules')) Rules
					if compSeq >= competitionStates.Registration.seq
						li: a(href=genLink('/participants')) Participants
						if compSeq >= competitionStates.ReleasePublic.seq
							li: a(href=genLink('/downloads')) Downloads
						if session.user != null
							li: a(href=genLink('/wishlist')) Wishlist
					if typeof competitionEntry !== 'undefined' && competitionEntry != null && competitionEntry.isWishlistComplete()
						if compSeq == competitionStates.Voting.seq
							li: a(href=genLink('/vote')) Voting
						if competitionEntry.isEligible && compSeq >= competitionStates.Development.seq
							li: a(href=genLink('/task')) Task
							if compSeq < competitionStates.DevelopmentIntermission.seq
								li: a(href=genLink('/blog')) Blog
								li: a(href=genLink('/submit')) Submission
						if competitionEntry.isEligible && compSeq > competitionStates.DevelopmentIntermission.seq
							li: a(href=genLink('/gift')) Your Gift
			.clearfix
			noscript
				.alert.alert-info
					strong JavaScript is recommended
					|  for the best experience on this site.
			if typeof(warnMsg) !== 'undefined' && warnMsg != null && showWarnMsg
				.alert.alert-warn
					span
						strong Uh oh...
						|  
						=warnMsg
			#user
				if session.user != null
					img#avatar(src='http://static.allegro.cc/image/avatar/' + session.user.avatar)
					span#usertext= session.user.name
					span#useraction
						[
						if session.user.isAdmin
							a(href='/admin') Admin
							|  | 
						a(href='/logout?return=' + returnURL) Log Out
						]
				else
					span#useraction
						[
						a(href='/login?return=' + returnURL) Log In
						]
			#time(title='Official SantaHack time (when the page was loaded)')= getDisplayTime()
			#content
				block content
		#footer Copyright &copy; <a href="http://www.baf.cc/">Robert Ferris</a>, 2011-2012<br />Design by Mark Oates via <a href="http://zeoxdesign.com/">Zeox Design</a>
			span#genTime Page generated in 
				strong= getGenerationTime(requestTime)
				|  seconds.
