!!!
html
	head
		title= title
		link(rel='stylesheet', href='/static/css/style.css')
		link(rel='stylesheet', href='/static/lib/bootstrap_cust/css/bootstrap.min.css', media='screen')
		link(rel='shortcut icon', href='/static/images/favicon.ico')
		
		block additionalCSS
		
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(type='text/javascript', src='/static/lib/bootstrap_cust/js/bootstrap.min.js')
		
		block scripts
	body
		#container
			#header
				h1 SantaHack
			#navigation
				ul
					- var compSeq = competition.getState().seq
					li: a(href=genLink('/home')) Home
					li: a(href=genLink('/rules')) Rules
					//- participants is only shown for competitions 
					//- need to add some sort of preferences page or something with join/withdraw competition links
					if session.user != null && compSeq == competitionStates.Registration.seq
						li: a(href=genLink('/wishlist')) Wishlist
					if compSeq > competitionStates.Upcoming.seq
						li: a(href=genLink('/participants')) Participants
					if compSeq >= competitionStates.ReleasePublic.seq
						li: a(href=genLink('/downloads')) Downloads
					//- add the isLoggedIn and in competition stuff after (see above)
			if typeof(warnMsg) !== 'undefined' && warnMsg != null && showWarnMsg
				#alertContainer
					#alert.alert.alert-warn
						button.close(type='button', data-dismiss='alert') &times;</button>
						span
							strong Uh oh...
							=warnMsg
			#user
				if session.user != null
					img#avatar(src='http://static.allegro.cc/image/avatar/' + session.user.avatar)
					span#usertext= session.user.name
					span#useraction
						[
						if session.user.isAdmin
							a(href='/admin') Admin
							|  | 
						a(href='/logout?return=' + returnURL) Log Out
						]
				else
					span#useraction
						[
						a(href='/login?return=' + returnURL) Log In
						]
			#time(title='Official SantaHack time (when the page was loaded)')= displayTime()
			#content
				block content
		#footer Copyright &copy; <a href="http://www.baf.cc/">Robert Ferris</a>, 2011-2012<br />Design by Mark Oates via <a href="http://zeoxdesign.com/">Zeox Design</a>
				